################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MailContainerTest.Business/obj
/MailContainerTest.Business/bin/Debug/net6.0
/MailContainerTest.Core/obj
/MailContainerTest.Core/bin/Debug/net6.0
/MailContainerTest.Service/obj
/MailContainerTest.Service/bin/Debug/net6.0
/MailContainerTest.App/MailContainerTest.App.csproj.user
/MailContainerTest.App/obj
/MailContainerTest.App/bin/Debug/net6.0
